*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Baloo 2',cursive;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    height: 100vh;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 2s;
}
.btn:hover{
    background: #ff523b;
}
.header{
    background: #667db6;
    background: -webkit-linear-gradient(to right,blue,#0082c8,#0082c8);
    background: linear-gradient(to right,yellow,#0082c8,#0082c8,#667db6);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 100%;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px 50px 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 32%;
    min-width: 250px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,5);
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1000px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.col_4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col_4 img{
    width: 100%;
}
.crt{
    margin: 10px;
    float: right;
}